<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="theme-color" content="#8DD5F0">
    <title>GDG Gigcity</title>
    <link rel="icon" sizes="118x192" href="highres-favicon.png">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_blue-red.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <a href="/"><span class="mdl-layout-title"><h1>GDG Gigcity</h1></span></a>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/events">Events</a>
            <a class="mdl-navigation__link" href="/study-groups">Study Groups</a>
            <a class="mdl-navigation__link" href="/coc">Code of Conduct</a>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://developers.google.com/groups/chapter/102911015778633923479/" target="_blank">
              Join us <i class="material-icons">open_in_new</i>
            </a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">GDG Gigcity</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/about">About</a>
          <a class="mdl-navigation__link" href="/events">Events</a>
          <a class="mdl-navigation__link" href="/study-groups">Study Groups</a>
          <a class="mdl-navigation__link" href="/coc">Code of Conduct</a>
          <a class="mdl-navigation__link" href="https://developers.google.com/groups/chapter/102911015778633923479/" target="_blank">Join us <i class="material-icons">open_in_new</i></a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          {{ template "content" . }}
          <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer__middle-section">

              <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Socal Media</h1>
                <ul class="mdl-mega-footer__link-list">
                  <li><a href="https://plus.google.com/b/102911015778633923479/+Gdggigcity/posts">Google+</a></li>
                  <li><a href="https://www.youtube.com/channel/UCy3WvEVai_V3GLFeLbVkEKw">YouTube</a></li>
                </ul>
              </div>
            </div>

            <div class="mdl-mega-footer__bottom-section">
              <div class="mdl-logo">GDG Gigcity</div>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="/coc">Code of Conduct</a></li>
              </ul>
              <p class="text-center"><small>&copy; 2014-2015 GDG Gigcity</small></p>
              <p class="text-center"><small>Google Developer Group (GDG) is a registered traidmark of Google,<br />GDG Gigcity is an independent group; our activities and the opinions expressed here should in no way be linked to Google, the corporation.</p>
            </div>
          </footer>
        </div>
      </main>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56093451-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    </script>
  </body>
</html>

