{{ define "content" }}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">About GDG Gigcity</h1>
    </div>
    <div class="mdl-card__supporting-text">
      Google Developer Group (GDG) Gigcity (Chattanooga, TN) is a group for those interested in Google based technology be it Android, App Engine, Chrome, Dart, and even Go. If you use a Google based technology in your work or even on a pet project or if you would like to know how you can make use of such things this group is for you. This will be an open group where members can present on things that they use or like.
    Please remember to go to the <a href="https://developers.google.com/groups/chapter/102911015778633923479/">GDG Gigcity directory listing</a> and click I am a member.  While this is not a requirement but it does help keep track of membership numbers.  For a short how-to please refer to this <a href="http://goo.gl/He0XuY">Google doc</a>.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="https://plus.google.com/b/102911015778633923479/102911015778633923479/about" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Our Google+</a>
      <a href="http://www.meetup.com/GDG-Gigcity" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Our Meetup</a>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col"><h2 class="card-header">Affiliates</h2></div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="https://developers.google.com/groups/" target="_blank">
      <img alt="Google, Inc" width="293" height="192" class="img-responsive" src="/static/img/google-logo.png" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="http://www.codejourneymen.com/" target="_blank">
      <img alt="Code Journeymen, LLC" width="273" height="120" class="img-responsive" src="/static/img/codeJourneymen-logo-patch_3.png" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="http://chadev.github.io/" target="_blank">
      <img alt="Chadev" width="288" height="55" src="/static/img/Chadev-logo.svg" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="https://manning.com/" target="_blank">
      <img alt="Manning" width="96" height="90" src="/static/img/manning-logo.jpeg" />
    </a>
  </div>
</div>
{{ end }}
