{{ define "content" }}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">GDG Gigcity Code of Conduct</h1>
    </div>
    <div class="mdl-card__supporting-text">
      GDG Gigcity is a chapter of the larger Google Developer community, as such we follow and enforce the <a href="https://developers.google.com/groups/guidelines/" target="blank">Google Developer Community Guidelines</a>.  We, the group organizers and/or event organizers, reserve the right to take any action that we see fit against any person or persons that are found to be in breach of these guidelines including; issueing a warning (verbal or written), asking the offending person or persons to leave the event, or expulsion from the group.
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Diversity Guidelines</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <strong>GDG Gigcity</strong> is an inclusive community where developers, designers, and entrepreneurs or all skill levels, genders, religions, and backgrounds are welcome to learn, practice, and share Google technologies, services, and platforms.  Our motto is "<strong>Be excellent to each other;</strong>" if you see or experience anything different please contact one of the community organizers (see below).
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Don't be a jerk</h1>
    </div>
    <div class="mdl-card__supporting-text">
      GDG Gigcity prides itself on being an open, respectful, and inclusive community.  That means jerky behavior isn't allowed at <abbr title="Google Developer Group" class="initialism">GDG</abbr> meetings.  Because we know that it's not obvious to everyone, here's a reminder of things we don't allow: jokes or offensive comments about sex/sexuality/race/religion/nationality/body size, showing port in public, touching people uninvited, or continuing to interact with someone after they've asked you to stop.  Continuous jerky behavior may result in getting expelled from the meeting or <abbr title="Google Developer Group" class="initialism">GDG</abbr> Chapter.
    </div>
    <div class="mdl-card__supporting-text">
      If someone is bothering you, please tell the GDG Organizers or event host and they will take care of it.  We want to maintian GDG Gigcity's awesomness.
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Anti-Harassment Policy</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Why do we have an official Anti-Harassment policy for GDG Gigcity events?</p>
      <ul>
        <li>It sets expectations for behavior at the event.  Simply having an anti-harassment policy can prevent harassment.</li>
        <li>It encourages people to attend who have had bad experiences at other events</li>
        <li>It gives event staff/volunteers instructions on how to handle harassment quickly, with minimum amount of disruption for the event.</li>
      </ul>
      <p>GDG Gigcity is dedicated to providing a harassment-free event experience for everyone, regardless of:</p>
      <ul>
        <li>gender</li>
        <li>sexual orentation</li>
        <li>disability</li>
        <li>gender identity</li>
        <li>age</li>
        <li>race</li>
        <li>religion</li>
        <li>nationality</li>
      </ul>
      <p>The above is not an exhaustive list -- we do not tolerate harassment of event participants in any form.</p>
      <p>Sexual language and imagrey is not appropriate for any event venue, including talks.  Event participants violating these rules may be expelled from the event, and event banned from future events at the discretion of the event organizers/management.</p>
      <p>Harassment includes (but is not limited to):</p>
      <ul>
        <li>offensive verbal comments related to gender, sexual orentation, disability, gender identity, age, race, religion</li>
        <li>the use or display of sexual images in public spaces</li>
        <li>deliberate intimidation</li>
        <li>stalking</li>
        <li>harassing photography or recording</li>
        <li>sustained disruption of talks or other events</li>
        <li>inappropriate physical contact</li>
        <li>unwelcome sexual attention</li>
      </ul>
      <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
      <p>Exhibiting partners and guests are also subject to the anti-harassment policy.  In particular, exhibitors and speakers should not use sexualized images, activities, or other material, or otherwise create a sexualized environment in their slide decks, exhibit material, exhibt staffing, promotional items or demo material.</p>
      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an organizer or event volunteer immediatly.  Organizers and event volunteers may be identified by t-shirts or special badges/lanyands.  Organizers will investigate the issue and take approprite action.  This may include helping participants contact venue security or local law enforcement, provide escorts, or otherwise assist these experiencing harassment to fell safe for the duration of the event.</p>
      <p>Though we hope that we never have to invoke this policy, we believe that having this document helps everyone think a little more about how their actions and words affect the whole community, as well as individuals in the community.</p>
      <h4>Licencse and attribution</h4>
      <p>This policy is licensed unde the Creative Commons Zer license.  This policy is based on several other policies including the Ohio LinuxFest anti-harassment policy, written by Esther Filderman and Beth Lynn Eicher, and the Con Anti-Harassment Project.  Mary Gardiner, Valerie Aurora, Sarah Smith, and Donna Benjamin generalized the policies and added supporting material.  Many members of LinuxChix, Geek Feminism and other groups contributed to this work.</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Questions & Reporting</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <p>If there are any questions or concerns about these guidelines, or to report a violation please feel free to reach out to any of the community organizers.  We will get back with you as soon as we can and answer your question or see to your concern/handle the issue.  When reporting a violation of our guidelines, please include the name person(s) involved, date & time of occurance, and if possible a copy of text/log if the incident happened via written means.</p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col"></div>
  <div class="mdl-cell mdl-cell--12-col">
    <h2 class="card-header">Who to contact</h2>
  </div>
  {{ range . }}
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h3 class="mdl-card__title-text">{{ .Name }}</h3>&nbsp;<h4 class="mdl-card__subtitle-text">{{ .Role }}</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="mailto:{{ .Email }}">Email</a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ .GooglePlus }}">Google+</a>
      {{ if .IRC }}{{ .IRC }} on Freenode{{ end }}
    </div>
  </div>
  {{ end }}
  <div class="mdl-cell mdl-cell--12-col"><p style="text-align:center;">Send general inquiries to <a href="mailto:contact@gdggigcity.com">contact (at) gdggigcity.com</a></p></div>
</div>
{{ end }}
