{{ define "content" }}
{{ if . }}
<div class="mdl-grid">
  {{ range . }}
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">{{ .Name }}</h1>
    </div>
    <div class="mdl-card__supporting-text">
      Date and time: {{ .Datetime }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/events/{{ .URI }}">Details</a>
    </div>
  </div>
  {{ end }}
</div>
{{ else }}
<article>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">No events found</h1>
    </div>
    <div class="mdl-card__supporting-text">
      There were no events found, this is most likely due to a server error.  Please try again later or check our meetup page for details.
    </div>
  </div>
</article>
{{ end }}
{{ end }}

{{  define "header" }}Events{{ end }}
