{{ define "content" }}
<div class="homepage-ribbon"></div>
<article>
  <h1>Welcome to GDG Gigcity</h1>
  <p><a href="https://developers.google.com/community/" target="_blank">Google Developer Group (GDG)</a> Gigcity (<a href="http://www.thegigcity.com/" target="_blank">Chattanooga, TN</a>) is an independent group for developers and technologists that use or have an interest in Google technologies.  This is an open group where members can present on things that they use or like.  We hold regular monthly meetings on the third Wednesday of each month.</p>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" href="/about">Learn more</a>
</article>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col"><h2 class="card-header">Organizers</h2></div>
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Adam Jimerson</h3>&nbsp;
      <h4 class="mdl-card__subtitle-text">Lead Community Organizer</h4>
    </div>
    <div class="mdl-card__media">
      <img class="img-responsive" src="/static/img/profile-photos/adam.jpg" />
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://google.com/+AdamJimerson">Google+</a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="mailto:vendion@gmail.com">Email</a>
    </div>
  </div>
</div>
{{ end }}
