{{ define "content" }}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col"><h2 class="card-header">{{ .Name }}</h2></div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">When and Where</h2>
    </div>
    {{ if .Location.EmbedURL }}
    <div class="mdl-card__media">
      <iframe src="{{ .Location.EmbedURL }}" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    {{ end }}
    <div class="mdl-card__supporting-text">
      <i class="material-icons">schedule</i> {{ .Datetime }} Eastern<br/>
      <i class="material-icons">place</i> {{ if .Location.MapURL }}<a href="{{ .Location.MapURL }}" target="_blank">{{ .Location.Where }}</a>{{ else }}{{ .Location.Where }}{{ end }}<br/>
      <i class="material-icons">directions</i> {{ .Location.Details }}
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-desktop mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Links</h3>
    </div>
    <div class="mdl-card__actions">
        {{ if .Links.GooglePlus }}<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" href="{{ .Links.GooglePlus }}" target="_blank">Google+</a>{{ end }}
        {{ if .Links.Meetup }}<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" href="{{ .Links.Meetup }}" target="_blank">Meetup</a>{{ end }}
        {{ if .Links.Slides }}<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" href="{{ .Links.Slides }}" target="_blank">Slides</a>{{ end }}
    </div>
  </div>
  {{ if .Links.Video }}
  <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Video</h3>
    </div>
    <div class="mdl-card__media">
      <iframe  width="420" height="315" src="{{ .Links.Video }}" allowfullscreen></iframe>
    </div>
  </div>
  {{ end }}
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Details</h3>
    </div>
    <div class="mdl-card__supporting-text">
      {{ .Details }}
    </div>
  </div>
</div>
{{ end }}
